html {
  background-color: white;
  color: green;
} 
    
/* Flex Container Setup */
    
.flex-container {
  display: flex;
  flex-direction: column;
}
    
/* Header */
    
.header {
  height: 50vh;
  width: 60vw;
  border: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
    
#container-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
    
/* Main */
    
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}
    
/* Containers-odd */
    
#container-odd {
  background-color: white;
  align-items: center;
  justify-content: center;
}
    
.left-container-odd {
  float: left;
  background-color: ;
}

.right-container-odd {
  display: flex;
  align-items: center ;
  justify-content: space-around;
  height: 20vw;
  background: ;
  width: 50%;
  float: right;
  margin-left: 75px;
  color: #000000;
}
    
/* Containers-even */
    
#container-even {
  background-color: #502E84;
  align-items: center;
  justify-content: center;
}
    
.right-container-even {
  display: flex;
  float: right;
  background-color: ;
}
    
.left-container-even {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vw;
  background: #502E84;
  width: 50%;
  float: left;
  margin-right: 75px;
  color: white;
}
    
img {
  border-radius: 50%;
  height: 800px;
  width: 800x;
  top: 0;
}

#contact:hover{
  opacity: 0.5;
}
    
#contact {
  border-radius: 0;
  height: 80px;
  width: 80px;
  transition: 0.5s;
  filter: invert(52%) sepia(9%) saturate(1011%) hue-rotate(163deg) brightness(91%) contrast(87%);
}

#team_contact:hover {
   opacity: 0.5;
   cursor: pointer;
}

#team_contact {
  margin-top: 0px;
  background-color: #677f91;
  color: white;
  width: 30vw;
  border-radius: 40px;
  text-align: center;
  transition: 0.5s;
}
    
h1 {
  font-size: 13rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 20px;
  margin-bottom: 0px;
}

h2 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 0px;
}

h3 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0px;
}

p {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}